%header#header
  #header-bar
    #brand ほねつぎ一休さん
    #header-msg
      %p
        広島市南区東雲・宇品の接骨院ほねつぎ一休さん【接骨院・整体・マッサージ・鍼灸・整骨院・交通事故対応・各種保険適用】

#drw-btn
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
#header-nav
  %ul
    %li= link_to 'ホーム', '/'
    %li= link_to '交通事故対応', '/'
    %li= link_to 'スタッフ', '/'
    %li= link_to 'メニュー', '/'
    %li= link_to '料金', '/'
    %li= link_to 'アクセス', '/'
