#contents-header-nav
  %ul
    %li= link_to 'ホーム', '/'
    %li= link_to '交通事故対応', '/contents/accident/'
    %li= link_to 'スタッフ', '/contents/staff/'
    %li= link_to 'メニュー・料金', '/contents/menu/'
    %li= link_to 'アクセス', '/contents/location/'
